<link rel="stylesheet" type="text/css" href="/res/admin/rongyun/widget/css/conversation.css"/><!-- 融云文件导入 -->
<div id="dcMain" ng-app="service">
    <div ng-controller="main">
        <div style="position:fixed;left:500px;width:500px;height:500px;">
            <rong-widget></rong-widget>
        </div>
    </div>
</div>

<input name="token" type="hidden" id="admin_token" value=""/>
<script src="/res/admin/rongyun/lib/angular.js"></script><!-- 融云文件导入 -->
<script src="/res/admin/rongyun/widget/main.js"></script><!-- 融云文件导入 -->
<script src="/res/admin/rongyun/index.js"></script><!-- 融云文件导入 -->



